.headerMainBlock{
	min-height: 627px;
	background-image:url(../image/header.png); }

.headerContent{ padding-bottom: 80px;  }
.headerContent__head{
	display: flex;
	justify-content: space-between;
	padding: 15px 5%;}

#menu-checkbox { display: none; }

.logo{
	display: flex;
	align-items: center; }
.logo__img{
	width: 45px;
	height: 50px;
	margin: 10px; }
.logo__text{
	font-family: sans-serif;
	color: #397192;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center; }

.headerNavigator{
	display: flex;
	flex-direction: column;
	justify-content: center; }
.headerNavigator__list{
	display: flex;
	list-style: none;}
.headerNavigator li{margin-left: 20px;}
.headerNavigator a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white; }

.firstLinkColor a{color: #00e0d0;}

.headerContent__main{
	width: 85%;
	margin: 0 auto;
	overflow: hidden; }

.headerSlider {
	width: 400%;
	display: flex;
	position: relative;
	left: 0;
	transition-duration: .5s; }

.sliderInformation{
	max-width: 800px;
	min-height: 240px;
	text-align: center;
	padding: 80px 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-wrap: wrap; }

h1 {
	padding-bottom: 20px;
	font-size: 30pt;
	font-family: serif;
	color: white; }

.titleDownline {
	width: 50px;
	color: white;
	margin: 0 auto; }

.sliderInformation__text{
	padding: 6% 5px;
	color: white; }
.sliderInformation::last-child{margin: 0 auto;}

.buttonLearnMore {
	padding: 10px;
	color: #02d7c9;
	text-decoration: none;
	border: 1px solid #02d7c9;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	display: inline-flex; }

.headerContent__footer{  }

#sliderButton__Left, #sliderButton__Right {
	background-color: transparent;
	border: 0;
	font-size: 30px;
	color: cyan;
	opacity: .5;
	cursor: pointer;	
	position: absolute;
	top: 50%;}

#sliderButton__Left{
	left:15%;
}
#sliderButton__Right{
	left:82%;
}
.sliderButton, .sliderPoint{
	display: flex;
	justify-content: center;
	align-items: center; }
.sliderPoint {
	margin: 0 20px;
	opacity: .6;
  flex-grow: 2; }
.sliderPoint::first-child{background-color: 'cyan';}
.sliderPoint__cirkle {
	width: 10px;
	height: 10px;
	margin: 3px;
	border-radius: 50%;
	border: 2px solid cyan;
   }

.sliderPoint__cirkle:hover {
  flex-grow: 0.01;
  transition: .2s;
}

@media screen and (max-width: 865px) {
	.logo{
		display: block;
		position: relative; }
	.headerNavigator {
		position: relative;
		width: 14%;
		z-index: 3;
	}
	.headerNavigator__list {
		display: none;
		position: absolute;
		top: 65%;
		left: -27%;
		text-align:center;
		width: 130%;
	}
	.headerNavigator li {
		display: block;
		width: 100%;
		margin: 6px 0;
	}
	.headerNavigator a {
		display: block;
	}
	.headerNavigator__miniMenu {
		display: block;
		color: cyan;
		cursor: pointer;
		text-align: center;
	}
	.headerNavigator__miniMenu:after {
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .headerNavigator__list {
		display: block;
		background-color: rgba(0,0,0,.2);
    		padding: 2px 10px 10px;
	}
}
.sliderPoint-blue{
	background-color: cyan;
}


@media screen and (max-width: 990px) {
	.sliderInformation{
		padding: 2% 2%; }
}
