--widthAndCenter {

}

.leaveMassage {  }
.leaveMassage__content { 
	display: flex;
	justify-content: space-between;
	padding: 50px 10px; }

.massageForm { 
	width: 40%; }
.massageForm__form { 
	display: flex;
	flex-direction: column;
	/*max-width: 49%;*/ }
.marginLabel{
	margin: 5px 5px 25px;
}
.massageForm__form textarea {
	height: 200px;
	resize: none;
}

.happyClients { 
	width: 48%;
	margin-left: 10%; }
.happyClients__lables { 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 409px;
	justify-content: space-between; }
.happyClients__lables img { height: 100%; width: auto; }

.paddmar15 { 
	padding: 15px;
	margin: 5px;
	border: 1px solid #e5e5e5;
	font-family: sans-serif; }

.massageForm__submit {
	padding: 10px;
	color: #00e0d0;
	background: none;
    border: 1px solid #02d7c9;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
	width: 120px;
	margin: 5px;
	cursor: pointer;	}

.label1 { height: inherit;  }
/*.label1 img { height: 100%; width: auto; }*/
.label2 { }
.label3 { }
.label4 { }
.label5 { }
.label6 { }
.label {
    width: 150px;
    margin: 0 auto;	}

@media screen and (max-width: 900px) {
	.leaveMassage__content { 
		display: block; 
	}
	.marginLabel {
		text-align: center;
	}
	.massageForm { 
		width: 66%;
		margin: 0 auto;
	}
	.happyClients { 
		width: 70%;
		margin: 6% auto;
	}
	.happyClients__lables {
		height: 480px;
	}
}
@media screen and (max-width: 660px) {
	.happyClients {
    	width: 193px;
	}
	.happyClients__lables {
    	display: block;
    }
    .leaveMassage__content {
	    min-height: 1540px;
	}
	.label {
    	margin: 25% auto;
	}
}
@media screen and (max-width: 420px) {
	.massageForm {
    	width: 90%;
	}
}
@media screen and (min-width: 1440px) {
	.leaveMassage__content {
        width: 80%;
    	margin: 0 auto;
    }
}
