*{
	margin: 0;
	padding: 0; }
img{
	width: 100%; 
	height: auto;}

.headerMainBlock{
	width: 100%;
	height: 627px;
	background-image:url(../image/header.png);
	background-repeat: no-repeat;
	background-position: center; }

.headerContent{
	max-width: 960px;
	margin: 0 auto; }
.headerContent__head{
	display: flex;
	justify-content: space-between;
	padding: 15px;}

.logo{ display: flex; }
.logo__img{
	width: 45px;
	height: 50px;
	margin: 10px; }
.logo__text{
	font-family: sans-serif;
	color: #397192;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center; }

.headerNavigator{ 
	display: flex;
	flex-direction: column;
	justify-content: center; }
.headerNavigator__list{
	display: flex;
	list-style: none;}
.headerNavigator li{margin-left: 20px;}
.headerNavigator a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white; }

.firstLinkColor a{color: #00e0d0;}

.headerContent__main{
	width: 800px;
	margin: 0 auto;
	overflow: hidden; }

.headerSlider {
	width: 3920px; 
	display: flex;
	position: relative;
	left: 0;
	transition-duration: .5s; }

.sliderInformation{ 
	width: 800px;
	height: 240px;
	text-align: center;
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;}
h1 {
	font-size: 35px;
	font-family: serif;
	color: white; }
.sliderInformation__text{ 
	font-size: 15px;
	padding: 0 5px;
	font-family: sans-serif;
	color: white; }
.sliderInformation__button{ 
	display: flex;
	justify-content: center;
	padding: 5px; }
.sliderInformation__button a{
	padding: 10px;
	color: #02d7c9;
	text-decoration: none;
	border: 1px solid #02d7c9;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px; }

.headerContent__footer{  }

#sliderButton__Left, #sliderButton__Right {
	background-color: transparent;
	border: 0;
	font-size: 30px;
	color: cyan;
	opacity: .5;
	cursor: pointer;}

.sliderButton, .sliderPoint{ 
	display: flex;
	justify-content: center;
	align-items: center; }
.sliderPoint {margin: 0 20px;}
.sliderPoint::first-child{background-color: 'cyan';}
.sliderPoint__cirkle {
	width: 10px;
	height: 10px;
	margin: 3px;
	border-radius: 50%;
	border: .5px solid cyan; }

