*{
	margin: 0;
	padding: 0; }
img{
	width: 100%; 
	height: auto;}
.inCentre {
	max-width: 85%;
	margin: 0 auto; }
.smallTextFamily { 
	font-size: 15px;
	font-family: sans-serif; }
.forBackgroundImg {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; }



