header {
	padding: 10px;
	border: 2px solid red;
}
.imgLogo {
	width: 130px;
	height: 100px;
}
ul.header {
	width: 150px;
	display: inline;
	margin: 0px;
	padding: 10px;
	border: 2px solid blue;
}

li {
	display: inline;
	margin-right: 5px;
	padding: 10px;
	/*float: right;*/
}
