* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
body {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
header, nav, main, footer{
	border: 1px solid red;
	margin:19px;
}
.logo {
	float: left;
	width: 172px;
	height: 116px;
	margin: 25px 25px;
}
nav {
	float: right;
	margin: 19px 19px 29px 0px;
	padding-right: 119px;
}
nav li {
	display: inline-block;
	padding: 49px 28px;
}
.container:after {
	content: "";
	display: table;
	clear: both;
}
h1 {
	margin: 76px 294px;
}
.text {
	margin: 21px 68px 146px;
}
footer li,footer div {
	display: inline-block;
	text-align: center;
}
footer {
	margin-top: 22px;
	height: 116px;
}
.footer {
	border: 1px solid red;
	width: 306px;
	height: 57px;
	margin-bottom: 20px;
	margin: 28.5px 327px;
}
.footer li {
	margin: 0px 19px 24px;
}
h1 {
	text-align: center;
}
.text {
	margin: 21px 68px 146px 104px;
	font-size: 14pt;
}
